.day {
  margin: 0 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin: 24px 4px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  gap: 10px;
  cursor: pointer;
  text-align: center;
}

.grid-header {
  margin-bottom: 10px;
}

.highlight {
  background-color: yellow;
}

.selected-date {
  background-color: green;
}

.filler-date {
  color: lightgray;
}