
<div class="container">
  <div>
    <div class="controls">
      <button (click)="setCurrentMonth(currentMonth - 1)">Prev</button>
      <div>{{currentDate.toDate()| date:'LLL y'}}</div>
      <button (click)="setCurrentMonth(currentMonth + 1)">Next</button>
    </div>
    <div class="grid grid-header">
      <span *ngFor="let day of days">{{day}}</span>
    </div>
    <div class="grid">
      <div *ngFor="let day of calendarToShow">
        <span [ngClass]="{'filler-date': day.month !== 'CURR'}">{{day.date}}</span>
      </div>
    </div>
  </div>
</div>